[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.68.0"
uvicorn = "==0.12.2"
python-dotenv = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
