[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
drf-nested-routers = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
pandas = "*"
bcrypt = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
